<!doctype html>

<html>
<head>
<style>
body{
  background-image: url('clouds');
  background-size: cover;
}
.box{
	background-color: grey;
	width:189px;
	border: 1px solid black;
	border-radius:5px;
	margin:auto;
}
.light{
	height:175px;
	width:175px;
	border-radius: 100px;
	display: block;
	margin: 7px;
	border: 1px solid black;
}
.stop{
	background-color:#FF0000;
}
.maybe{
	background-color: orange;
}
.go{
	background-color:#0F0;

}
</style>

</head>
<body>
<div class=box>
<div>
	<a href=red class="stop light"></a>
</div>
<div>
	<a href=orange class="maybe light"></a>
</div>
<div>
	<a href=green class="go light"></a>
</div>
</div>
</body>
</html>
